@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/RobotoSlab-Regular.ttf');
}

ion-modal#dialog {
  --width: fit-content;
  --min-width: 250px;
  --max-height: 270px;
  --height: 100%;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}
